<div class="main portfolio">
  <div class="jumbotron slideshow">
    <div class="slideshow-container">
      <div class="slide">
        <%= image_tag("christopher-gower-unsplash.jpg", alt: "Slide01")%>
      </div>
      <div class="slide">
        <img alt="Slide02" src="/assets/">
      </div>
      <div class="slide">
        <img alt="Slide03" src="/assets/">
      </div>
      <div class="slide">
        <img alt="Slide04" src="/assets/">
      </div>
      <div class="slide">
        <img alt="Slide05" src="/assets/">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <a class="col-md-6 project" href="https://www.sabinedeprati.com/", target="_blank">
        <div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
          <div class="thumbnail-header-btn"></div>
        </div>
          <div class="thumbnail">
            <%= image_tag("SabineDePrati.png", alt: "Sabine De Prati")%>
        </div>
          <h3>Sabine De Prati</h3>
          <p>NGO liberal change-makers global time of extraordinary change, prevention climate change mobilize shift. Communities, social movement United Nations, Oxfam planned giving Global South humanitarian. Maximize.</p>
        </a>
          <a class="col-md-6 project" href="https://www.rgp-coiffure-bordeaux-chartrons.com/", target="_blank">
          <div class="thumbnail-header">
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
            <div class="thumbnail-header-btn"></div>
          </div>
          <div class="thumbnail">
            <%= image_tag("rgp-coiffure.png", alt: "RGP Coiffure")%>
          </div>
          <h3>RGP Coiffure</h3>
          <p>Pursue these aspirations free-speech healthcare sharing economy freedom. Beneficiaries gender rights raise awareness change movements provide. Eradicate, diversification inspire breakthroughs, incubation; solve Peace Corps. Innovate.</p>
        </a>
        </div>
        <div class="row">
          <a class="col-md-6 project" href="https://ismaelsane.github.io/pso/", target="_blank">
          <div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
      </div>
        <div class="thumbnail">
          <%= image_tag("pso.png", alt: "PSO")%>
      </div>
        <h3>Peintures Sols de l'Océan - PSO</h3>
        <p>Informal economies; underprivileged, grantees transformative prosperity. Education best practices connect achieve plumpy'nut. Action Against Hunger; save the world, combat HIV/AIDS crowdsourcing eradicate inclusive facilitate collaborative.</p>
      </a>
        <a class="col-md-6 project" href="https://www.likemenuiserie.com/", target="_blank">
          <div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div> <div class="thumbnail-header-btn"></div>
      </div>
        <div class="thumbnail">
          <%= image_tag("like-menuiserie.png", alt: "Like Meuniserie")%>
      </div>
        <h3>Like Meuniserie</h3>
        <p>Small-scale farmers; collaborative cities Bill and Melinda Gates best practices equity health theory of social change human experience. Tackle rural development relief worldwide respect, economic.</p>
      </a>
      </div>
        <div class="row">
          <a class="col-md-6 project" href="https://www.boka-omw.com/", target="_blank">
            <div class="thumbnail-header">
          <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div> </div>
        <div class="thumbnail">
          <%= image_tag("boka-omw.png", alt: "BOKA OMW")%>
        </div>
        <h3>BOKA OMW</h3>
        <p>UNICEF, research Ford Foundation outcomes collaborative consumption turmoil change lives. Tackling, dignity, world problem solving small-scale farmers complexity rural. Emergent humanitarian, necessities effect, challenges of.</p>
      </a>
        <a class="col-md-6 project" href="https://ismaelsane.github.io/landing-page-dost/", target="_blank">
          <div class="thumbnail-header"> <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div>
        <div class="thumbnail-header-btn"></div> </div>
        <div class="thumbnail">
          <%= image_tag("dost.png", alt: "DOST")%>
        </div>
        <h3>DOST</h3>
        <p>Aid collaborative global network overcome injustice honesty measures. Environmental, social impact carbon rights combat HIV/AIDS transform the world social innovation local effect. Free expression committed.</p>
      </a>
    </div>
  </div>
</div>
